<div class="start-page">

  <div class="card">
    <img src="https://images-na.ssl-images-amazon.com/images/I/A1MmtHVWCAL._AC_SX425_.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title">Memory Mathing Game</h3>
      <div class="card-text">

        <h4>Capacity:</h4>
        <div class="form-check form-check-inline" *ngFor="let cap of arrCapacity; let i = index">
          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio{{i}}" value="{{cap}}"
                 (change)="setCapacity($event.target.value)">
          <label class="form-check-label" for="inlineRadio{{i}}">{{cap}}</label>
        </div>
        <h4>Theme:</h4>
        <div class="form-check form-check-inline" *ngFor="let theme of arrTheme">
          <input class="form-check-input" type="radio" name="theme" id="{{theme}}" value="{{theme}}"
                 (change)="setTheme($event.target.value)">
          <label class="form-check-label" for="{{theme}}">{{ theme | titlecase }}</label>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block mt-2" type="submit"
              [queryParams]="{ capacity: selectedCapacity, theme: selectedTheme }"
              [routerLink]="['/game']">Start Game</button>
    </div>
  </div>

</div>
