<div class="header">
  <button *ngIf="!isStarted" class="btn btn-lg btn-primary mt-2 mr-2" type="submit" (click)="test(); isStarted=true">
    Start
  </button>
  <button class="btn btn-lg btn-outline-secondary mt-2" type="submit" [routerLink]="['/start']">Finish</button>
  <hr>
</div>
<div class="wrapper front" *ngIf="!isStarted">
  <div *ngFor="let card of cards"><span>{{card}}</span></div>
</div>
<div class="wrapper back" *ngIf="isStarted">
  <div *ngFor="let card of cards; let i = index" class="back" id={{i}} (click)="checkCard(card)">
    <span>{{backCard}}</span>
  </div>
</div>
