.header
  text-align: center
.wrapper
  display: grid
  grid-template-columns: repeat(6, 150px)
  grid-gap: 10px
  width: 955px
  margin: 10px auto

.wrapper div
  font-size: 125px
  text-align: center
  border: 1px solid grey
  border-radius: 5px
.paired
  opacity: .5
.wrapper div:hover
  cursor: pointer
