<div class="header">
  <button *ngIf="!isStarted" class="btn btn-lg btn-primary mt-2 mr-2" type="submit" (click)="closeCards()">
    Start
  </button>
  <button class="btn btn-lg btn-outline-secondary mt-2" type="submit" [routerLink]="['/start']">Finish</button>
  <hr>
</div>
<div class="wrapper">
  <div *ngFor="let card of cards; let i = index" (click)="checkCard(card)"
       [class.paired]="card.isPair"
       [style.color]="selectedTheme==='light'? 'black':'white'"
       [style.background]="selectedTheme==='light'? 'white':'black'">
    <span *ngIf="!card.isActive">{{backCard}}</span>
    <span *ngIf="card.isActive">{{card.content}}</span>
  </div>
</div>
<div class="overlay" *ngIf="isFinished" (click)="isFinished=false; efforts=0;"></div>
<div [ngStyle]="{transition: 'all 3s ease-out'}" class="finished" *ngIf="isFinished" >
  <img src="https://thumbs.dreamstime.com/b/you-win-red-rubber-stamp-over-white-background-86701663.jpg" alt="Win">
  <br><span>It takes: {{(endTime-startTime) | time}}</span>
  <br><span>Count of efforts: {{ efforts }}</span>
</div>
